doctype html
html
  head
    title #{title}
    link(rel="stylesheet", href="/styles.css")
    script(src="https://unpkg.com/htmx.org@1.9.12")
  body
    header
      nav
        img(src="/shuriken.png")
        h1 The Dojo Chronicles
    block content
