extends layouts/layout

block content
  main
    h2 All Articles
    div.article-list
      include partials/list
  footer
    h2 Add a New Article
    form(action="/articles" method="post" hx-target=".article-list")
      input(type="text" name="name" placeholder="Article Name" required)
      textarea(name="body" placeholder="Article Body" required)
      button.btn(type="submit") Add Article
